.topbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  color: #7c8494;
  background: #fff;
  border-bottom: none !important;
  box-shadow: none !important;
}

.topbar * {
  text-decoration: none !important;
}
a{
  text-decoration: none !important;
  color: #7c8494;
}

.crumb {
  display: flex;
  gap: 9px;
  align-items: center;
  font-size: 11px;
}

.crumb b {
  color: #c6cbd5;
}

.crumb strong {
  color: #343d53;
  text-decoration: none !important;
}

.topbar-actions {
  display: flex;
  align-items: center;
  gap: 13px;
}

.topbar-actions button {
  border: 0;
  background: transparent;
  color: #697286;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  outline: none;
  text-decoration: none !important;
}

.topbar-actions button i {
  position: absolute;
  top: 2px;
  right: 0;
  width: 5px;
  height: 5px;
  background: #ed8063;
  border-radius: 50%;
}

.top-name {
  color: #3f4759;
  font-size: 11px;
  font-weight: 700;
  text-decoration: none !important;
}

.chevron {
  font-size: 15px !important;
}
